body {
  font-family: Afacad, sans-serif;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

tr:nth-child(5n) {
  background-color: #f8f8f8;
}

th {
  border: 1px solid #ccc;
  background-color: #ddd;
  font-weight: normal;
  font-size: 0.8em;
  padding: 0.5em;
  text-align: center;
}

.th-footer {
  border-bottom: 1px double #000;
}

td {
  border: 1px solid #ccc;
  padding: 6px;
}

.td-row-num {
  color: #ccc;
  border: none;
  font-size: 0.75em;
}

.number {
  text-align: right;
}

tfoot td {
  font-weight: bold;
  font-size: 2.5em;
}
