body {
  font-family: Afacad, sans-serif;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

td {
  font-weight: 300;

  text-align: right;
  border-bottom: 1px solid #eee;

  padding: 2px;
  padding-left: 6px;
  padding-right: 6px;
}

th {
  font-weight: 300;

  text-align: center;

  border: none;
  padding: 2px;
  padding-left: 6px;
  padding-right: 6px;
}

.th-sum {
  background: #f9f9f9;
  border: none;
}

.td-row-num {
  color: #ccc;
  background: none;
  border: none;
}

.no-expand-info {
  border: none;
}

.number {
}

.hidden {
  background: none;
  border: none;
}
