body {
  font-family: Abel, sans-serif;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

tr:nth-child(5n) {
  background-color: #eee;
}

th {
  background-color: #ccc;
  word-wrap: break-word;
  padding-right: 12px;
  font-weight: normal;

}

.th-footer {
  border-bottom: 1px double #222;
}

td {
  padding-right: 12px;
  border: 1px solid #eee;
  text-align: right;
}

.span-number {
  text-align: right;
  font-family: monospace;
}

tfoot td {
  font-weight: bold;
  font-size: 1.5em;
}
